<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Book a Ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="book-ride-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Book Medical Transportation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ride booking functionality is under development. You'll be able to:</p>
        <ul>
          <li>Select pickup and destination locations</li>
          <li>Choose vehicle type (standard, wheelchair accessible, etc.)</li>
          <li>Schedule immediate or future rides</li>
          <li>Add special medical requirements</li>
          <li>View fare estimates</li>
          <li>Confirm booking with payment</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
